<div id="layout" class="layout-semiboxed" ng-controller="clubController">
    <header ng-include="'views/partials/header.html'"></header>
    <section class="section-title img-feature">
        <div>
            <div class="overlay-bg"></div>
            <div class="container">
                <h1>{{clubDetail.name}}</h1>
            </div>
        </div>
    </section>
    <section class="content-info">
        <div class="navclub" ng-include="'views/partials/nav-club.html'"></div>
        <div ng-include="'views/partials/crumb.html'"></div>
        <section class="container">

        <div class="container padding-top-mini">
                <div class="panel-box">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{activity.title}}</h2>
                                <p>{{activity.createdAt}}</p>
                                <img src="http://222.240.208.174:8083/vma/download/img?url={{activity.image}}" alt="" class="img-responsive">
                                <div ng-bind-html="activityDescription"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <footer id="footer" ng-include="'views/partials/footer.html'"></footer>
    <div class="footer-down" ng-include="'views/partials/footer-down.html'"></div>
</div>
