<div id="layout" class="layout-semiboxed" ng-controller="allianceController" ng-show="ready">
    <header ng-include="'views/partials/header.html'"></header>
    <section class="section-title img-about"
             style="background-image: url('http://222.240.208.174:8083/vma/download/img?url={{back.background}}');">
        <div class="overlay-bg"></div>
        <div class="container">
            <h1>垂马联盟</h1>
        </div>
</div>
</section>
<section class="content-info">
    <div ng-include="'views/partials/crumb.html'"></div>

    <section class="container">
        <div class="row padding-top">
            <div class="col-xs-12 col-md-6 col-lg-9">
                <div ng-include="'views/partials/alliance-list.html'"></div>
            </div>
            <aside class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div ng-include="'views/partials/alliance-panel-box.html'"></div>
            </aside>
        </div>

    </section>
    <div ng-include="'views/partials/sponsors.html'"></div>
</section>
<footer id="footer" ng-include="'views/partials/footer.html'"></footer>
<div class="footer-down" ng-include="'views/partials/footer-down.html'"></div>
</div>
