<div id="layout" ng-controller="homeController">
    <header ng-include="'views/partials/header.html'"></header>
    <div ng-include="'views/partials/home-slide.html'"></div>
    <section class="content-info">
        <div class="semiboxshadow text-center">
            <img src="/assets/img/img-theme/shp.png" class="img-responsive" alt="">
        </div>
        <div class="bg-dark dark-home">
            <div class="row">
                <div class="col-md-9">
                    <div ng-include="'views/partials/home-nav.html'"></div>
                </div>
                <div class="col-md-3">
                    <div ng-include="'views/partials/event-import.html'"></div>
                </div>
            </div>
        </div>
        <div class="container padding-top">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-7">
                    <div ng-include="'views/partials/home-news.html'"></div>
                    <div ng-include="'views/partials/home-experts.html'"></div>
                </div>
                <aside class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div ng-include="'views/partials/home-location.html'"></div>
                </aside>
                <aside class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                    <div ng-include="'views/partials/home-sponsor.html'"></div>
                    <div class="panel-box">
                        <a href="{{Ad.url}}" target="_blank">
                            <img src="http://222.240.208.174:8083/vma/download/img?url={{Ad.image}}"
                                 class="img-responsive" alt="">
                        </a>
                    </div>
                </aside>
            </div>
        </div>
        <!-- End Content Central -->
        <!-- Newsletter -->
        <div class="section-wide">
            <div class="container">
                <div class="row newsletter">
                    <div class="col-md-12">
                        <div ng-include="'views/partials/home-newsletter.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Newsletter -->
    </section>
    <!-- End Section Area -  Content Central -->
    <footer id="footer" ng-include="'views/partials/footer.html'"></footer>
    <div class="footer-down" ng-include="'views/partials/footer-down.html'"></div>
</div>
<!-- End layout-->
