.style-caption h1 {
    border-left: none;
    top: 40%;
    max-width: 100%;
}

.style-caption h1:before {
    border: none;
}

.img-hover {
    margin-bottom: 30px;
}

.dis-radius {
    border: none;
    border-radius: 0;
    width: auto;
    height: auto;
}

#tab2 {
    margin-top: -50px;
}

#tab2-content {
    margin-left: 0;
}

#tab2 li a {
    background: transparent;
    color: #0088cc;
}

#tab2 > li > a {
    margin-right: 0;
    border: none;
    text-align: center;
    border-radius: 0;
}

#tab2 li {
    margin-right: 0;
    width: 50%;
}

#tab2 li.active a {
    background: #0088cc;
    color: #fff;
    border: none;
}

#tab2 li.active:after {
    border: none;
}

.games-info {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.games-info li {
    border-bottom: 1px solid #727272;
    padding-top: 10px;
}

.games-info li:last-child {
    border-bottom: none;
}

.form-select .btn {
    background: #0088cc;
    color: #fff;
}

.sf-menu .separator {
    padding-left: 0;
    padding-right: 0;
}

.ot-menu {
    position: relative;
    margin: 0;
    margin-left: -9px;
    padding: 0;
    list-style: none;
    z-index: 999;
}

.ot-menu > li {
    float: left;
}

.ot-menu > li > a {
    display: block;
    position: relative;
}

.ot-menu > li > a {
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: normal;
    color: #666;
}

.ot-menu > li {
    margin: 0;
    padding: 20px 5px 18px 5px;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    transition: 0.2s all ease;
}


.sf-menu > li {
	margin: 0 5px;
    padding: 20px 0 18px 0;
}
.sf-menu > li > a {
    display: inline-block;
}

.sf-menu > li > a:hover {
    color: #0088C8;
}

.sf-menu > li.active > a {
    color: #0088C8;
}

.sf-menu > li:before {
    content: " | ";
    margin-right: 10px;
}

.sf-menu > li:first-child:before {
    content: none;
    margin-right: 0;
}

.is-sticky .ot-menu > li {
  	margin:0 15px 0 0;
 	padding: 10px 10px 8px 10px;
}

ul.nav-club {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.nav-club li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

ul.nav-club li:before {
    content: '|';
    display: inline-block;
    margin-right: 10px;
}

ul.nav-club li:first-child:before {
    content: none;
}

.m-t-5 {
    margin-top: 5px;
}

.equipment-item {
    height: 200px;
}

.new-item {
    height: 280px;
    overflow: hidden;
    margin-bottom: 20px;
}

.new-item .header-post {
    position: relative;
}

.new-item .header-post > a{
    display: block;
}

.new-item .header-post .new-date {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #428bca;
    opacity: .6;
    padding: 5px;
    color: #fff;
}

#event-search select {
    width:200px;
    height:30px;
    margin-bottom: 10px;
    vertical-align:top;
    border : 1px #ccc solid;
}
#event-search select option {
    font-size: 14px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}

.carousel-caption {
    left: 20%;
    right: 20%;
    bottom: 45%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-size: 42px;
    background-color: rgba(0, 136, 204, .6);
}

.events-carousel li .info-post p {
    height: 70px;
    overflow: hidden;
}

.vgoHome-title {
    position: relative;
    color: #666;
}

.vgoHome-title h2 {
    position: absolute;
    top: 40%;
    width: 100%;
    background-color: #fff;
    opacity: 0.8;
    color: #0088C8;
    text-align: center;
    padding: 10px 0;
}

.stars-item {
    margin-bottom: 15px;
}

.vgo-name {
    position: absolute;
    width: 80px;
    background-color: #0088C8;
    color: #fff;
    opacity: 0.8;
    bottom: 20px;
    padding: 5px 10px;
}
#events-carousel .owl-buttons {
    display: none;
}
.owl-buttons {
    display: none;
}

.more-links {
    margin-top: 10px;
    padding-right: 20px;
    color: #0c83c1;
}

.search-query {
    margin-top: 4px;
    padding-right: 20px;
}

.search-query input {
    background-color: #ccc;
    color: #fff;
    margin-bottom: 0;
    border: 1px solid #ccc;
    padding: 3px 20px;
}

.search-query i {
    font-size: 18px;
}

.sf-menu > li > a {
    font-size: 18px;
    color: #666;
}

.search-form {
    padding-top: 15px;
}

.search-form .form-theme {
    margin: 0;
    position: relative;
}

.search-form .form-theme .form-control {
    background-color: #666;
    color: #fff;
    margin-bottom: 0;
    height: 32px;
    border-right: none;
    position: absolute;
    z-index: 10;
}

.search-form .form-theme .search-btn {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 1px;
    padding: 0;
    margin: 0;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: 90;
}

.search-form .form-theme .icon-search {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 1px;
    padding: 0;
    margin: 0;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    z-index: 11;
    font-size: 18px;
    color: #fff;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.search-form .form-theme input::-webkit-input-placeholder {
    color: #fff;
}

.search-form .form-theme input:-moz-placeholder {
    color: #fff;
}

.search-form .form-theme input::-moz-placeholder {
    color: #fff;
}

.search-form .form-theme input:-ms-input-placeholder {
    color: #fff;
}

.carousel-control .glyphicon-chevron-left:before {
    background-color: rgb(12, 131, 193);

}

.carousel-control .glyphicon-chevron-right:before {
    background-color: rgb(12, 131, 193);

}

.carousel-control {
    width: auto;
    opacity: .8;
}

.carousel-control .glyphicon-chevron-left {
    margin-left: 0;
}

.carousel-control .glyphicon-chevron-right {

    margin-right: 0;
}

.homesilde .carousel-control .glyphicon-chevron-left {
    background: url("../img/slides-left.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: 0px;
    font-size: 30px;
}

.homesilde .glyphicon-chevron-left:before {
    content: none;
}

.homesilde .carousel-control .glyphicon-chevron-right {
    background: url("../img/slides-right.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-right: 0px;
    font-size: 30px;
}

.homesilde .glyphicon-chevron-right:before {
    content: none;
}

.events-carousel li .header-post .meta-tag {
    background-color: rgba(0, 136, 204, .7);
}

.info-clubs {
    background-color: rgb(0, 136, 204);
}

.info-clubs h4 a {
    color: #fff;
}

.info-clubs p {
    color: #fff;
    line-height: 18px;
    height: 56px;
    overflow: hidden;
}

.img-hover {
    margin-bottom: 0;
}

.headerbox {
    padding: 0;
}

.headerbox .adds {
    padding-top: 10px;
}

.logo img {
    max-height: 100%;
}

#newsletterForm .input-group-btn .btn-primary {
    background: url("../img/button.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.single-carousel .owl-buttons {
    display: block;
}

..owl-theme .owl-controls .owl-buttons div {

}

.owl-theme .owl-controls .owl-buttons div .fa {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
}

.post-item p {
    line-height: 21px;
}

.data-info {
    color: #0c83c1;
}

.navclub {
    position: absolute;
    right: 0;
    top: -43px;
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    background-color: rgba(12, 131, 193, .8);
    color: #fff;
}

.navclub a {
    color: #fff;
}

hr {
    border-top: 1px solid #ccc;
}

.item-vgo {
    position: relative;
}

.info-star {

    top: 60%;

}

.info-vgo {
    position: absolute;
    top: 80%;
    width: auto;
}

.info-star {

    top: 60%;

}

.info-vgo h4 a {
    padding: 5px 10px;
    display: inline;
    background-color: rgba(12, 131, 193, .8);
}

.info-vgo h5 span {
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 20px 5px 10px;
    display: inline;
}

.info-vgo h4 a, .info-vgo h5 {
    color: #fff;
    font-weight: bold;
}

.scroes hr {
    margin: 5px 0;
}

.scroes > tbody > tr > td {
    vertical-align: middle;
}

.equipment-item h5 {
    color: rgb(12, 131, 193);
}

table.ranking thead {
    color: rgb(12, 131, 193);
}

.fancy .img-hover {
    margin-bottom: 20px;
}

.equipment h6 {
    color: rgb(12, 131, 193);
}

.data-item h5 {
    color: rgb(12, 131, 193);
}

.data-item p {
    margin-bottom: 0;
}

.data-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(12, 131, 193);
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.data-link:hover {
    color: #fff;
    text-decoration: none;

}

.train-people {
    list-style: none;

    margin: 0;
    padding: 0;
}

.train-people a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: rgb(12, 131, 193);
    text-decoration: none;
    border-top: 1px solid #ccc;
}

.manager a {
    background: url("../img/manager.png") no-repeat;
    background-position: right+10px center;
}

.manager a:hover, .manager a.active {
    background-image: url("../img/manager-hover.png");
    background-color: rgb(12, 131, 193);
    color: #fff;
}

.coach a {
    background: url("../img/coach.png") no-repeat;
    background-position: right+10px center;
}

.coach a:hover, .coach a.active {
    background-image: url("../img/coach-hover.png");
    background-color: rgb(12, 131, 193);
    color: #fff;
}

.volunteer a {
    background: url("../img/volunteer.png") no-repeat;
    background-position: right+10px center;
}

.volunteer a:hover, .volunteer a.active {
    background-image: url("../img/volunter-hover.png");
    background-color: rgb(12, 131, 193);
    color: #fff;
}

.modal-content {
    border-radius: 0;
}

.modal-content .panel-box {
    border: none;
    margin-bottom: 0;
}

.modal-content .form-theme input {
    margin-bottom: 15px;
}

.modal-content .form-theme input[type="text"] {
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
}

.modal-content .form-theme input[type="password"] {
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
}

.close-btn {
    margin-right: 10px;
    margin-top: 6px;
}

.form-theme input[type=checkbox] {
    height: auto;
    width: auto;
    margin: 0 10px;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select .btn {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #ccc;
}

.bootstrap-select .btn:focus, .bootstrap-select .btn:active:focus, .bootstrap-select .btn.active:focus {
    outline: 0 none;
}

.btn-default {
    background: transparent;
    box-shadow: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: transparent;
}

.btn-default:active, .btn-default.active {
    background: transparent;
    box-shadow: none;
}

.modal-content .logo {
    display: inline-block;
}

.modal-content {
    border-bottom: 3px solid #0088C8;
}

input.login {
    background-color: #0088C8;
    color: #fff;
    font-weight: bold;
}

.verify input {
    width: 160px;
}

.verify .btn {
    margin-top: 0;
    margin-bottom: 0;
}

#year, #month, #day {
    display: inline-block;
}

#year select {
    width: 100px;
}

#month select {
    width: 60px;
}

#day select {
    width: 60px;
}

#userRegister select {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    vertical-align: top;
    border: 1px #ccc solid;
    border-radius: 0;
}