<div class="titles">
    <h4>申请加入小联盟流程</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <h4 style="color: #0c83c1;">第一步</h4>

        <p>内容
            <br>内容
            <br>内容
            <br>内容
            <br>内容
            <br>内容</p>
        <h4 style="color: #0c83c1;">第二步</h4>

        <p>内容
            <br>内容
            <br>内容
            <br>内容
            <br>内容
            <br>内容</p>
        <h4 style="color: #0c83c1;">第三步</h4>

        <p>内容
            <br>内容
            <br>内容
            <br>内容
            <br>内容
            <br>内容</p>

        <div class="text-center">
            <a class="btn btn-lg btn-primary dis-radius" href="#">表格下载</a>
        </div>
    </div>
</div>