<div class="panel-box pdding-bottom padding-top">
    <ul id="tab2" class="nav nav-tabs">
        <li class="active"><a showtab href="#feature-club" data-toggle="tab">俱乐部</a></li>
        <li><a showtab href="#players-staff" data-toggle="tab">VGO</a></li>
    </ul>
    <div id="tab2-content" class="tab-content">
        <div class="tab-pane active" id="feature-club" ng-include="'views/partials/club-range-list.html'"></div>
        <div class="tab-pane" id="players-staff">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr dir-paginate="vgo in vgos | filter: query | itemsPerPage: 10">
                    <td>
                        {{vgo.id}}
                    </td>
                    <td>
                        {{vgo.name}}
                    </td>
                    <td>
                        {{vgo.city}}
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="text-center"><a href="/alliances/vgos-rank">点击进入查看更多排名</a></p>
        </div>
    </div>
</div>
<!-- Widget Text-->
<div class="panel-box padding-bottom" ng-include="'views/partials/alliance-application.html'"></div>
<!-- End Widget Text-->