<div class="panel-box">
    <div class="titles">
        <div class="pull-right search-query">
            <input ng-model="query.name" placeholder="俱乐部关键词查询"> <i class="fa fa-search"></i>
        </div>
        <h4 class="">俱乐部列表</h4>
    </div>
    <!-- Post Item -->
    <div class="post-item" dir-paginate="club in clubs | filter: query | itemsPerPage: 5">
        <div class="row">
            <div class="col-md-4">
                <div class="img-hover">
                    <img src="http://222.240.208.174:8083/vma/download/img?url={{club.logo}}" alt="" class="img-responsive">
                    <div class="overlay"><a href="/alliances/{{allianceId}}/clubs/{{club.id}}">+</a></div>
                </div>
            </div>
            <div class="col-md-8">
                <h4><a href="/alliances/{{allianceId}}/clubs/{{club.id}}">{{club.name}}</a></h4>

                <p class="data-info">加盟时间：{{club.joinDate}}</p>

                <p class="data-info"><span>积分：{{club.point}}</span>&nbsp;&nbsp;<span>排名：{{club.ranking}}</span></p>

                <p>{{club.description}}</p>

                <a href="/alliances/{{allianceId}}/clubs/{{club.id}}">点击查看 >></a>
            </div>
        </div>
    </div>
</div>
<dir-pagination-controls template-url="/lib/angularUtils-pagination/dirPagination.tpl.html">
</dir-pagination-controls>
