<div class="panel-box">
    <div class="titles">
        <h4 class="">赛事列表</h4>
    </div>

    <!-- Post Item -->
    <div>

        <div class="post-item"dir-paginate="match in matches | itemsPerPage: 6">
            <div class="row">
                <div class="col-md-4">
                    <div class="img-hover">
                        <img src="http://222.240.208.174:8083/vma/download/img?url={{match.cover}}" alt="" class="img-responsive">
                        <div class="overlay"><a href="/events/{{match.id}}/event">+</a></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4><a href="/events/{{match.id}}/event">{{match.name}}</a></h4>

                    <p class="">赛事地点：{{match.city}}</p>

                    <p>{{match.description}}</p>
                    <a href="/events/{{match.id}}/event">点击查看 >></a>

                </div>
            </div>
        </div>
    </div>
</div>
<dir-pagination-controls template-url="/lib/angularUtils-pagination/dirPagination.tpl.html">
</dir-pagination-controls>
