<div class="panel-box padding-bottom" ng-show="event.status == '0'">
    <div class="titles">
        <h4>本赛事讯息更新</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="games-info">
                <li dir-paginate="news in eventNews | itemsPerPage: 8">
                    <div class="row">
                        <div class="col-xs-6">{{news.createdAt}}</div>
                        <div class="col-xs-6"><a target="_blank" href="/news/{{news.id}}">进入 ></a></div>
                    </div>
                    <h6>{{news.title}}</h6>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="panel-box padding-bottom" ng-show="event.status == '1'">
    <div class="titles">
        <h4>本赛事讯息更新</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="games-info">
                <li dir-paginate="news in eventNews | itemsPerPage: 8">
                    <div class="row">
                        <div class="col-xs-6">{{news.createdAt}}</div>
                        <div class="col-xs-6 text-right"><a target="_blank" href="/news/{{news.id}}">进入 ></a></div>
                    </div>
                    <h6>{{news.title}}</h6>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="panel-box padding-bottom" ng-controller="loginController"
     ng-show="event.status == '1' && isUserLoggedIn() == true && signTime == true">
    <div class="titles">
        <h4>赛事报名</h4>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="#" data-toggle="modal" data-target="#ModalApplyEvent"
               class="pop-up btn btn-lg btn-primary dis-radius">赛事报名</a>
        </div>
    </div>
</div>