<div class="panel-box">
    <div class="titles">
        <h4>赛事搜索</h4>
    </div>
    <form class="form-theme" name="matchSearchForm" id="event-search">
        <div class="text-center">
            <select name="status" ng-model="matchSearchSelected.status" ng-change="matchCitiesRender()">
                <option value="">选择状态</option>
                <option value="0">过去的</option>
                <option value="1">现在的</option>
                <option value="2">未来的</option>
            </select>
        </div>
        <div class="text-center">
            <select name="city" ng-model="matchSearchSelected.city" ng-change="matchCitiesRender()">
                <option value="">选择城市</option>
                <option ng-repeat="city in eventcities" value="{{city.id}}">
                    {{city.name}}
                </option>
            </select>
        </div>
        
    </form>
</div>
<div class="panel-box padding-bottom">
    <div class="titles">
        <h4>最近赛事讯息更新</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="games-info">
                <li dir-paginate="news in newsAll | itemsPerPage: 8">
                    <div class="row">
                        <div class="col-xs-6">{{news.createdAt}}</div>
                        <div class="col-xs-6"><a target="_blank" href="/news/{{news.id}}">进入 ></a></div>
                    </div>
                    <h6>{{news.title}}</h6>
                </li>
            </ul>
        </div>
    </div>
</div>

