<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>&copy; 2016 Vertical Marathon Association. All Rights Reserved. 1999 - 2016</p>
        </div>
        <div class="col-md-6">
            <!-- Nav Footer-->
            <ul class="nav-footer">
                <li><a href="#">关于垂马</a></li>
                <li><a href="#">垂马联盟</a></li>
                <li><a href="#">垂马赛事</a></li>
                <li><a href="#">VGO</a></li>
                <li><a href="#">培训/学院</a></li>
            </ul>
            <!-- End Nav Footer-->
        </div>
    </div>
</div>