<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>&copy; 2016 Vertical Marathon Alliance. All Rights Reserved. 1999 - 2016</p>
        </div>
        <div class="col-md-6">
            <!-- Nav Footer-->
            <ul class="nav-footer">
                <li><a href="/about">关于VMA</a></li>
                <li><a href="/alliances">VMA联盟</a></li>
                <li><a href="/events">VMA赛事</a></li>
                <li><a href="/vgo">VGO</a></li>
                <li><a href="/train">培训/学院</a></li>
                <li><a href="#">VMA商城</a></li>
            </ul>
            <!-- End Nav Footer-->
        </div>
    </div>
</div>