<div class="container">
    <!-- Wiguets Footer-->
    <div class="row">
        <!-- Twitter Wiguet-->
        <div class="col-xs-12 col-sm-7 col-md-3 col-lg-4">
            <div class="divisor-footer">
                <i class="fa fa-weibo fa-3x"></i>
                <h4>微博持续更新</h4>

                <div id="weibo">微博
                    <br>微博
                    <br>微博
                    <br>微博
                </div>
            </div>
        </div>
        <!-- End Twitter Wiguet-->
        <!-- Tags Wiguet-->
        <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
            <div class="tags">
                <h4>标签</h4>
                <a href="#" class="#" title="Tags"><i class="fa fa-tag"></i> 公司 </a>
                <a href="#" class="#" title="Tags"><i class="fa fa-tag"></i> 明星 </a>
                <a href="#" class="#" title="Tags"><i class="fa fa-tag"></i> 城市 </a>
                <a href="#" class="#" title="Tags"><i class="fa fa-tag"></i> 国家 </a>
                <a href="#" class="#" title="Tags"><i class="fa fa-tag"></i> 年龄 </a>
                <a href="#" class="#" title="Tags"><i class="fa fa-tag"></i> 性别 </a>
                <a href="#" class="#" title="Tags"><i class="fa fa-tag"></i> 组织者 </a>
                <a href="#" class="#" title="Tags"><i class="fa fa-tag"></i> 成绩 </a>
                <a href="#" class="#" title="Tags"><i class="fa fa-tag"></i> 参赛者 </a>
            </div>
        </div>
        <!-- End Tags Wiguet-->
        <!-- Links Wiguet-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <h4>场外连接</h4>
            <ul class="links">
                <li><i class="fa fa-link"></i> <a href="#">世界杯</a></li>
                <li><i class="fa fa-link"></i> <a href="#">团队成员</a></li>
                <li><i class="fa fa-link"></i> <a href="#">大联盟</a></li>
                <li><i class="fa fa-link"></i> <a href="#">比赛</a></li>
            </ul>
        </div>
        <!-- End Links Wiguet-->
        <!-- flickr Wiguet-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <h4>精彩图片</h4>
            <ul id="flickr" class="thumbs"></ul>
        </div>
        <!-- End flickr Wiguet-->
    </div>
    <!-- End Wiguets Footer-->
    <!-- Social Icons-->
    <div class="row">
        <ul class="social">
            <li>
                <div>
                    <a href="#" class="weibo">
                        <i class="fa fa-weibo"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="weixin">
                        <i class="fa fa-weixin"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="vimeo">
                        <i class="fa fa-vimeo-square"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!-- End Social Icons-->
</div>