<!-- End headerbox-->
<div class="headerbox">
    <div class="container">
        <div class="row">
            <!-- Logo-->
            <div class="col-md-3 logo">
                <a href="index.html" title="Return Home">
                    <img src="/assets/img/logo.png" alt="Logo" class="logo_img">
                </a>
            </div>
            <!-- End Logo-->
            <!-- Adds Header-->
            <div class="col-md-9 adds">
                <a href="#" target="_blank">
                    <img src="/assets/img/adds/ads2.jpg" alt="" class="img-responsive">
                </a>
            </div>
            <!-- End Adds Header-->
        </div>
    </div>
</div>
<!-- End headerbox-->
<!-- mainmenu-->
<nav class="mainmenu">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <ul class="sf-menu" id="menu" ng-controller="headerController">
                    <li class="">
                        <a href="#">关于垂马</a>
                    </li>
                    <li ng-class="setActive('alliances')">
                        <a href="/alliances">垂马联盟</a>
                    </li>
                    <li>
                        <a href="#">垂马赛事</a>
                    </li>
                    <li class="">
                        <a href="#">VGO</a>
                    </li>
                    <li class="">
                        <a href="#">培训/学院</a>
                    </li>
                    <li class="current">
                        <a href="#">垂马商城</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12">
                <ul class="ot-menu">
                    <li><a href="#">登录</a></li>
                    <li class="separator">|</li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-12">
                <ul class="ot-menu">
                    <li><a href="#">中文</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
        </div>
        <!-- Menu-->
        <!-- End Menu-->
    </div>
</nav>
<!-- End mainmenu-->