<!-- End headerbox-->
<div class="headerbox">
    <div class="container">
        <div class="row">
            <!-- Logo-->
            <div class="col-md-3 logo">
                <a href="index.html" title="Return Home">
                    <img src="/assets/img/logo.png" alt="Logo" class="logo_img">
                </a>
            </div>
            <!-- End Logo-->
            <!-- Adds Header-->
            <div class="col-md-9 adds">
                <a href="#" target="_blank">
                    <img src="/assets/img/adds/ads2.jpg" alt="" class="img-responsive">
                </a>
            </div>
            <!-- End Adds Header-->
        </div>
    </div>
</div>
<!-- End headerbox-->
<!-- mainmenu-->
<nav class="mainmenu">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <ul class="sf-menu" id="menu" ng-controller="headerController">
                    <li ng-class="setActive('about')">
                        <a href="/about">关于VMA</a>
                    </li>
                    <li ng-class="setActive('alliances')">
                        <a href="/alliances">VMA联盟</a>
                    </li>
                    <li ng-class="setActive('events')">
                        <a href="/events">VMA赛事</a>
                    </li>
                    <li ng-class="setActive('vgo')">
                        <a href="/vgo">VGO</a>
                    </li>
                    <li ng-class="setActive('train')">
                        <a href="/train">培训/学院</a>
                    </li>
                    <li class="current">
                        <a href="#">VMA商城</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-12">
                <ul class="ot-menu">
                    <li ng-show="!currentUser" class="hidden-xs"><a href="#" data-toggle="modal"
                                                                    data-target="#ModalLogin" class="pop-up">登录</a></li>
                    <li class="separator">|</li>
                    <li ng-show="!currentUser"><a href="#" data-toggle="modal" data-target="#ModalSignup"
                                                  class="pop-up"><span class="hidden-xs">注册</span></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="search-form">
                    <form class="form-theme">
                        <input type="text" value="" maxlength="100" class="form-control" name="search" id="search"
                               placeholder="搜索喜欢的俱乐部或者VGO...">
                        <input type="submit" value="" class="search-btn">
                        <i class="fa fa-search icon-search"></i>
                    </form>
                </div>
            </div>
        </div>
        <!-- Menu-->
        <!-- End Menu-->
    </div>
</nav>
<div ng-include="'views/partials/login_register.html'"></div>
<!-- End mainmenu-->