<div class="panel-box">
    <div class="titles">
        <h4>最新赛事资讯</h4>
    </div>
    <!--  Carousel -->
    <ul class="single-carousel" carousel data-options="{singleItem : true}">
        <li>
            <img src="/assets/img/blog/1.jpg" alt="" class="img-responsive">
            <div class="info-single-carousel">
                <h4>标题一</h4>
                <p>文字
                    <br>文字
                    <br>文字
                    <br>文字
                    <br>文字
                    <br>文字
                    <br>文字</p>
            </div>
        </li>
        <li>
            <img src="/assets/img/blog/1.jpg" alt="" class="img-responsive">
            <div class="info-single-carousel">
                <h4>标题二</h4>
                <p>文字
                    <br>文字
                    <br>文字
                    <br>文字
                    <br>文字
                    <br>文字
                    <br>文字</p>
            </div>
        </li>
        <li>
            <img src="/assets/img/blog/1.jpg" alt="" class="img-responsive">
            <div class="info-single-carousel">
                <h4>标题三</h4>
                <p>文字
                    <br>文字
                    <br>文字
                    <br>文字
                    <br>文字
                    <br>文字
                    <br>文字</p>
            </div>
        </li>
    </ul>
    <!-- Carousel -->
</div>
<div class="panel-box">
    <div class="titles">
        <h4>申请联盟表格下载</h4>
    </div>
    <div class="row">
        <img src="/assets/img/blog/1.jpg" alt="" class="img-responsive">
        <div class="col-md-12">
            <h4>标题</h4>
            <p>文字
                <br>文字
                <br>文字
                <br>文字
                <br>文字
                <br>文字
                <br>文字</p>
        </div>
    </div>
</div>
<div class="panel-box">
    <div class="titles">
        <h4>标题</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>文字
                <br>文字
                <br>文字
                <br>文字</p>
        </div>
    </div>
</div>
