<section class="camera_wrap camera_white_skin" id="slide">
    <!-- Slide -->
    <div data-src="http://222.240.208.174:8083/vma/download/img?url={{slide.image}}" ng-repeat="slide in Slides">
        <div class="style-caption fadeFromTop">
            <div class="overlay-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="animated fadeInRight text-center">
                                        {{slide.name}}
                                    </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
