<div class="panel-box">
    <div class="titles">
        <h4>最新赛事资讯</h4>
    </div>
    <!--  Carousel -->
    <ul class="single-carousel" data-owl-carousel data-options="{singleItem : true}">
        <li owl-carousel-item ng-repeat="news in Eventnews">
            <img src="http://222.240.208.174:8083/vma/download/img?url={{news.image}}" alt="" class="img-responsive">
            <div class="info-single-carousel">
                <h4>{{news.title}}</h4>
                <div>{{news.content}}</div>
            </div>
        </li>

    </ul>
    <!-- Carousel -->
</div>
<div class="panel-box">
    <div class="titles">
        <h4>申请联盟表格下载</h4>
    </div>
    <div class="row">
        <img src="/assets/img/vma.png" alt="" class="img-responsive">
        <div class="col-md-12">
            <h4>申请加入小联盟</h4>

            <p>
                VMA大联盟旗下的小联盟是指30个城市（区域）的合作运营方（以下简称小联盟）。小联盟可获得大联盟提供的赛事执行支持、年度商业总赞助分红以及地方赛事招商权。每个小联盟旗下发展俱乐部，每个俱乐部至少10人，参赛选手需先加入俱乐部，才具备当地比赛的参赛资格。而建立俱乐部有助于聚集跑步人群、建立粉丝基础，有利于当地VMA赛事的招商。</p>
        </div>
    </div>
</div>

