<div class="panel-box">
    <div class="titles">
        <h4>最新赛事资讯</h4>
    </div>
    <!--  Carousel -->
    <ul class="single-carousel" data-owl-carousel data-options="{singleItem : true}">
        <li owl-carousel-item ng-repeat="news in Eventnews">
            <img src="http://222.240.208.174:8083/vma/download/img?url={{news.image}}" alt="" class="img-responsive">
            <div class="info-single-carousel">
                <h4>{{news.title}}</h4>
                <div>{{news.content}}</div>
            </div>
        </li>

    </ul>
    <!-- Carousel -->
</div>
<div class="panel-box">
    <div class="titles">
        <h4>申请联盟表格下载</h4>
    </div>
    <div class="row">
        <img src="/assets/img/blog/1.jpg" alt="" class="img-responsive">
        <div class="col-md-12">
            <h4>标题</h4>
            <p>文字
                <br>文字
                <br>文字
                <br>文字
                <br>文字
                <br>文字
                <br>文字</p>
        </div>
    </div>
</div>

