<div class="panel-box">
    <div class="titles">
        <h4>联盟最新消息</h4>
    </div>
    <div class="post-item">
        <div class="row">
            <div class="col-md-4">
                <div class="img-hover">
                    <img src="/assets/img/blog/1.jpg" alt="" class="img-responsive">
                    <div class="overlay"><a href="#">+</a></div>
                </div>
            </div>
            <div class="col-md-8">
                <h4><a href="single-news.html">这里可以发真正的标题党</a></h4>
                <p class="data-info">3月9日, 2015 / <i class="fa fa-comments"></i><a href="#">0</a></p>
                <p>新闻内容
                    <br>... </p>
                <a href="#">更多 +</a>
            </div>
        </div>
    </div>
    <div class="post-item">
        <div class="row">
            <div class="col-md-4">
                <div class="img-hover">
                    <img src="/assets/img/blog/1.jpg" alt="" class="img-responsive">
                    <div class="overlay"><a href="#">+</a></div>
                </div>
            </div>
            <div class="col-md-8">
                <h4><a href="#">这里可以发真正的标题党</a></h4>
                <p class="data-info">3月9日, 2015 / <i class="fa fa-comments"></i><a href="#">0</a></p>
                <p>新闻内容
                    <br>... </p>
                <a href="single-news.html">更多 +</a>
            </div>
        </div>
    </div>
    <!-- End Post Item -->
    <!-- Post Item -->
    <div class="post-item">
        <div class="row">
            <div class="col-md-4">
                <div class="img-hover">
                    <img src="/assets/img/blog/1.jpg" alt="" class="img-responsive">
                    <div class="overlay"><a href="single-news.html">+</a></div>
                </div>
            </div>
            <div class="col-md-8">
                <h4><a href="#">这里可以发真正的标题党</a></h4>
                <p class="data-info">3月9日, 2015 / <i class="fa fa-comments"></i><a href="#">0</a></p>
                <p>新闻内容
                    <br>... </p>
                <a href="#">更多 +</a>
            </div>
        </div>
    </div>
    <!-- End Post Item -->
    <!-- Post Item -->
    <div class="post-item">
        <div class="row">
            <div class="col-md-4">
                <div class="img-hover">
                    <img src="/assets/img/blog/1.jpg" alt="" class="img-responsive">
                    <div class="overlay"><a href="single-news.html">+</a></div>
                </div>
            </div>
            <div class="col-md-8">
                <h4><a href="single-news.html">这里可以发真正的标题党</a></h4>
                <p class="data-info">3月9日, 2015 / <i class="fa fa-comments"></i><a href="#">0</a></p>
                <p>新闻内容
                    <br>... </p>
                <a href="single-news.html">更多 +</a>
            </div>
        </div>
    </div>
    <!-- End Post Item -->
</div>
