<ul class="nav nav-tabs" id="myTab">
    <li class="active">
        <a showtab href="#feature-news" data-toggle="tab">
            <i class="fa fa-star"></i>&nbsp;最新比赛
        </a>
    </li>
    <li><a showtab href="#players-staff" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;明星VGO</a></li>
    <li><a showtab href="#club-news" data-toggle="tab"><i class="fa fa-thumbs-up"></i>&nbsp;优秀小联盟</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="feature-news">
        <!-- Carousel -->
        <ul data-owl-carousel id="events-carousel" class="events-carousel padding-top" data-options="{items : 3}">
            <li owl-carousel-item ng-repeat="event in newEvents">
                <div class="header-post">
                    <div class="date">
                        {{event.raceDate}}
                    </div>
                    <a href="/events/{{event.id}}/event"><img src="http://222.240.208.174:8083/vma/download/img?url={{event.cover}}" alt=""></a>
                    <div class="meta-tag">
                        当前报名人数：{{event.registerNumber}}
                    </div>
                </div>
                <div class="info-post">
                    <h4><a href="/events/{{event.id}}/event" target="_blank">{{event.name}}</a></h4>
                    <p>{{event.description}}</p>
                </div>
            </li>
        </ul>
        <!-- Carousel -->
    </div>
    <div class="tab-pane" id="players-staff">
        <h3>明星</h3>
        <!-- Carousel -->
        <ul data-owl-carousel id="players-carousel" class="players" data-options="{items : 4}">
            <li owl-carousel-item class="item-player" ng-repeat="star in Stars">
                <img src="http://222.240.208.174:8083/vma/download/img?url={{star.avatar}}" alt="" class="img-responsive">
                <div class="info-player">
                    <h4><a target="_blank" href="/alliances/{{star.allianceId}}/clubs/{{star.clubId}}/vgos/{{star.id}}">{{star.name}}</a></h4>
                    <h5><span>{{star.clubName}}</span></h5>
                    <div class="overlay-player">
                        <p>{{star.address}}</p>
                    </div>
                </div>
            </li>
        </ul>
        <!-- Carousel -->
    </div>
    <div class="tab-pane" id="club-news">
        <h3>联盟</h3>
        <div class="row">
            <div class="col-sx-12 col-sm-6 col-md-6" ng-repeat="alliance in Alliances">
                <div class="item-clubs">
                    <div class="img-clubs">
                        <a href="/alliances/{{alliance.id}}/clubs"><img src="http://222.240.208.174:8083/vma/download/img?url={{alliance.logo}}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="info-clubs">
                        <h4><a target="_blank" href="/alliances/{{alliance.id}}/clubs">{{alliance.name}}</a></h4>
                        <p>{{alliance.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
