<section class="camera_wrap camera_white_skin" id="slide">
    <!-- Item Slide - Caption -->
    <div data-src="/assets/img/slide/slides/1.jpg">
        <div class="style-caption fadeFromTop">
            <div class="overlay-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="animated fadeInRight text-center">
                                        全国垂直马拉松大联盟官方网站严重上线！
                                    </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Item Slide - Caption  -->
    <!-- Item Slide - Caption -->
    <div data-src="/assets/img/slide/slides/2.jpg">
        <div class="style-caption fadeFromTop">
            <div class="overlay-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="animated fadeInRight text-center">
                                        全国垂直马拉松大联盟官方网站严重上线！
                                    </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Item Slide - Caption  -->
    <!-- Item Slide - Caption -->
    <div data-src="/assets/img/slide/slides/3.jpg">
        <div class="style-caption fadeFromTop">
            <div class="overlay-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="animated fadeInRight text-center">
                                        全国垂直马拉松大联盟官方网站严重上线！
                                    </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Item Slide - Caption  -->
</section>
