<div id="ModalLogin" tabindex="-1" role="dialog" class="modal signUpContent fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div id="login-form" ng-controller="loginController" class="panel-box">
        <div class="titles">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="pull-right close-btn"><i
                  class="fa fa-times"></i></button>
          <h4>登录</h4>
        </div>

        <form name="userLogin" novalidate="" class="form-theme">
          <div class="row">
            <div class="col-xs-12">
              <div><label>用户名 *</label>
                <input type="text" placeholder="用户名或手机号" name="loginAccount" ng-model="user.account"
                       ng-required="true"/>
              </div>

              <div><label>密码 *</label>
                <input type="password" placeholder="密码" name="loginPassword" ng-model="user.password"
                       ng-required="true"/>
              </div>

              <input type="button" value="登录" ng-click="login()" class="login btn btn-dark"
                     ng-disabled="userLogin.$invalid"/>

              <div class="">
                <a href="#" class="">忘记密码</a>
                <a href="#" data-toggle="modal" data-target="#ModalSignup" data-dismiss="modal" aria-label="Close"
                   class="pull-right">还没有账号?</a>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<div id="ModalSignup" tabindex="-1" role="dialog" class="modal signUpContent fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-hidden="true" class="close"></button>
      <div id="register-form" ng-controller="registerController" class="panel-box">
        <div class="titles">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="pull-right close-btn"><i
                  class="fa fa-times"></i></button>
          <h4>注册</h4>
        </div>
        <div class="form-wrapper">
          <form name="userRegister" id="userRegister" class="form-theme">
            <div class="row">
              <div class="col-xs-6">
                <div>
                  <label>昵称</label>
                  <input type="text" name="userName" placeholder="请填写..." ng-model="user.name" ng-required="true"/>
                </div>
                <div>
                  <label>真是姓名</label>
                  <input type="text" name="userName" placeholder="请填写..." ng-model="user.name" ng-required="true"/>
                </div>
                <div>
                  <label>性别</label>

                  <div>
                    <ui-select name="" id="">
                      <option value="1">男</option>
                      <option value="2">女</option>
                    </ui-select>
                  </div>
                </div>
                <div>
                  <label>城市</label>

                  <div>
                    <select selectbox name="" id="">
                      <option value="1">男</option>
                      <option value="2">女</option>
                    </select>
                  </div>
                </div>
                <div>
                  <label>手机号码</label>
                  <input type="text" name="userName" placeholder="请填写..." ng-model="user.name" ng-required="true"/>
                </div>
                <div>
                  <label>血型</label>
                  <input type="text" name="userName" placeholder="请填写..." ng-model="user.name" ng-required="true"/>
                </div>
                <div>
                  <label>裤子尺寸</label>

                  <div>
                    <select selectbox name="" id="">
                      <option value="1">男</option>
                      <option value="2">女</option>
                    </select>
                  </div>
                </div>
                <div>
                  <label>收件地址</label>
                  <input type="text" name="userName" placeholder="请填写..." ng-model="user.name" ng-required="true"/>
                </div>
              </div>
              <div class="col-xs-6">

                <div>
                  <label>证件号码</label>
                  <input type="text" name="userName" placeholder="请填写..." ng-model="user.name" ng-required="true"/>
                </div>
                <div>
                  <label>性别</label>

                  <div>
                    <select selectbox name="" id="">
                      <option value="1">男</option>
                      <option value="2">女</option>
                    </select>
                  </div>
                </div>
                <div>
                  <label>所属俱乐部</label>

                  <div>
                    <select selectbox name="" id="">
                      <option value="1">男</option>
                      <option value="2">女</option>
                    </select>
                  </div>
                </div>
                <div>
                  <label>出生日期</label>

                  <div>
                    <select selectbox name="" id="">
                      <option value="1">男</option>
                      <option value="2">女</option>
                    </select>
                  </div>
                </div>

                <div>
                  <label>上衣尺寸</label>

                  <div>
                    <select selectbox name="" id="">
                      <option value="1">男</option>
                      <option value="2">女</option>
                    </select>
                  </div>
                  <div>
                    <label>鞋子尺寸</label>

                    <div>
                      <select selectbox name="" id="">
                        <option value="1">男</option>
                        <option value="2">女</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <label>邮编</label>
                    <input type="text" name="userName" placeholder="请填写..." ng-model="user.name" ng-required="true"/>
                  </div>
                </div>
            </div>


          </form>
          <div class="row">
            <div class="col-xs-12">
              <label>疾病史</label>

              <div>
                <input type="checkbox" name="vehicle" value="Bike">无疾病史
                <input type="checkbox" name="vehicle" value="Bike">心脏病
              </div>
              <input type="button" ng-click="register()" value="确认提交" class="register btn btn-dark"
                     ng-disabled="userRegister.$invalid"/>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>