<div class="section-wide" ng-controller="partnerController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>合作伙伴</h2>
                </div>
                <!-- Carousel -->
                <ul data-owl-carousel id="sponsors" class="tooltip-hover" data-options="{items: 6}">
                    <li owl-carousel-item data-toggle="tooltip" title data-original-title="" ng-repeat="partner in Partners">
                        <img src="http://222.240.208.174:8083/vma/download/img?url={{partner.image}}" alt="Image">
                    </li>
                    
                </ul>
                <!-- Carousel -->
            </div>
        </div>
    </div>
</div>
