<div class="panel-box">
    <div class="titles">
        <h4>相关资讯</h4>
    </div>
    <form class="form-theme" name="matchSearchForm" id="event-search">
        <div class="text-center">

            <select name="status" ng-model="matchSearchSelected.status" ng-change="matchCitiesRender()">
                <option value="">相关人员</option>
                <option value="1">经理人</option>
                <option value="2">教练</option>
                <option value="3">志愿者</option>
            </select>
        </div>

    </form>
</div>
<div class="panel-box padding-bottom">
    <div class="titles">
        <h4>最近赛事讯息更新</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="games-info">
                <li dir-paginate="news in newsAll | itemsPerPage: 8">
                    <div class="row">
                        <div class="col-xs-6">{{news.createdAt}}</div>
                        <div class="col-xs-6"><a href="#">进入 ></a></div>
                    </div>
                    <h6>{{news.title}}</h6>
                </li>
            </ul>
        </div>
    </div>
</div>

