<div class="panel-box">
    <div class="titles">
        <h4>相关资讯</h4>
    </div>
    <ul class="train-people" ng-controller="headerController">
        <li class="manager"><a href="/train" ng-class="setActive2()"><strong>经理人</strong></a></li>
        <li class="coach"><a href="/train/coach" ng-class="setActive2('coach')"><strong>教练</strong></a></li>
        <li class="volunteer"><a href="/train/volunteer" ng-class="setActive2('volunteer')"><strong>志愿者</strong></a>
        </li>
    </ul>
</div>
<div class="panel-box padding-bottom">
    <div class="titles">
        <h4>相关资料下载</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="games-info">
                <li class="data-item" dir-paginate="file in filesAll | itemsPerPage: 10">

                    <h5><strong>{{file.title}}</strong></h5>

                    <p>{{file.remark}}</p>
                    <a class="data-link" href="{{file.link}}" download>点击下载</a>
                </li>
            </ul>
        </div>
    </div>
</div>

