<div class="panel-box">
    <div class="titles">
        <h4>个人历史成绩</h4>
    </div>
    <table class="table table-striped scroes">
        <thead>
            <tr>
                <th>
                    排名
                </th>
                <th>
                    比赛
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="score in scores">
                <td>
                    {{score.ranking}}
                </td>
                <td>
                    {{score.date}}
                    <hr>
                    {{score.eventName}}
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="panel-box">
    <div class="titles">
        <h4>抽签结果</h4>
    </div>
    <div class="box-info" ng-repeat="event in events">
        <div class="row eventslist-title">
            <div class="col-xs-6">
                {{event.eventName}}
            </div>
            <div class="col-xs-6">
                {{event.date}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                {{event.result}}
            </div>
            <div class="col-xs-6">
                <a ng-show="event.payLink != null" class="" target="_blank" href="{{event.payLink}}">付款链接>></a>

            </div>
        </div>

    </div>

</div>