<div class="panel-box pdding-bottom">
    <div class="titles">
        <h4 class="">VGO个人风云榜</h4>
    </div>


<table class="table table-striped table-bordered">
    <tbody>
    <tr dir-paginate="vgo in vgos | filter: query | itemsPerPage: 10">
        <td>
            {{vgo.id}}
        </td>
        <td>
            {{vgo.name}}
        </td>
        <td>
            {{vgo.city}}
        </td>
    </tr>
    </tbody>
</table>
<p class="text-center"><a href="/alliances/vgos-rank">点击进入查看更多排名</a></p>
</div>

<div class="panel-box padding-bottom">
    <div class="titles">
        <h4>申请加入俱乐部流程</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 style="color: #0c83c1;">第一步</h4>

            <p>内容
                <br>内容
                <br>内容
                <br>内容
                <br>内容
                <br>内容</p>
            <h4 style="color: #0c83c1;">第二步</h4>

            <p>内容
                <br>内容
                <br>内容
                <br>内容
                <br>内容
                <br>内容</p>
            <h4 style="color: #0c83c1;">第三步</h4>

            <p>内容
                <br>内容
                <br>内容
                <br>内容
                <br>内容
                <br>内容</p>

            <div class="text-center">
                <a class="btn btn-lg btn-primary dis-radius" href="#">表格下载</a>
            </div>
        </div>
    </div>
</div>