<div class="container padding-top">
    <div class="row">
        <!-- content Players -->
        <div class="col-md-12">
            <!-- Panel Box -->
            <div class="panel-box">
                <div class="titles">
                    <h4>俱乐部队员</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="players">
                            <li class="item-player" dir-paginate="vgo in vgos | itemsPerPage: 4">
                                <img src="/assets/img/players/1.jpg" alt="" class="img-responsive">
                                <div class="info-player">
                                    <h4><a href="/alliances/{{allianceId}}/clubs/{{clubId}}/vgos/{{vgo.id}}">{{vgo.name}}</a></h4>
                                    <h5><span>{{vgo.city}}</span></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <dir-pagination-controls template-url="/lib/angularUtils-pagination/dirPagination.tpl.html">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>