<div class="container padding-top">
    <div class="row">
        <!-- content Players -->
        <div class="col-md-12">
            <!-- Panel Box -->
            <div class="panel-box padding-bottom">
                <div class="titles">
                    <h4>俱乐部明星队员</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="vgos row">
                            <div class="item-vgo col-sm-2" dir-paginate="vgo in stars | itemsPerPage: 6">
                                <img src="http://222.240.208.174:8083/vma/download/img?url={{vgo.avatar}}" alt=""
                                     class="img-responsive">

                                <div class="info-vgo info-star">
                                    <h4><a href="/alliances/{{allianceId}}/clubs/{{clubId}}/vgos/{{vgo.id}}">{{vgo.name}}</a>
                                    </h4>
                                    <h5><span>全国排名{{vgo.ranking}}</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>